<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <a id="downloadCSV" href='#'
        onclick='downloadCSV({ filename: "" });'
    >Download CSV</a>




    <script src="/javascripts/csv.js" type="text/javascript"></script>
  </body>
</html>
